@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* colors */

$blue: #74b9ff;
$white: #FFF;
$dark: rgba(0, 0, 0, 0.04);
$lighter: #F6F6F6;
$red: #ee5253;
$gray: #EEE;




/* Fonts */
$Yusei: 'Yusei Magic', sans-serif;
$roboto: 'Roboto', sans-serif;

